h1 {
    color: white;
    display: flex;
    justify-content: center
}

.movieGridRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
} 


.movie-name {
    color: white;
    display: inline-flex;
}

.rating {
    color: white; 
}

body {
    padding: 20px;
    text-align: center;
}

button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: white;
    border: none;
}

button:hover {
    background: white;
}

#innerSrchBarTxt {
   font-weight: bold;   
   padding: 10px;
   margin-bottom: 20px;  
}

#submitBttn {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

#clearBttn {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}



